body{
    margin: 0;
    font-family: 'Poppins', serif;
}

.header {
    background: #dddddd;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0px 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-right: 20px;
}

.wrapper {
    margin: 5% 10%;
}

footer {
    padding: 10px;
    background: #dddddd;
}

p.footer {
    margin: 0;
}

.error {
    margin: 0% 15%;
    text-align: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 50% 50%;

}

.contact {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

button {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
}

button.red {
    background-color: palevioletred;
}

button.green{
    background-color: aquamarine;

}